/* font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
/* #212121 
   #757575   */

.desc {
  font-weight: var(--second-font-weight);
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;

  margin-bottom: 50px;
  color: var(--second-color);
}

.soft-info {
  background: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}

/* портфолио */
.services {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
}

.portfolion-cart:hover .owerlay-txt {
  transform: translateY(0%);
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

.icon {
  display: flex;
}

/* Стилизация портфолио */

.portfolio-button {
  display: flex;
  justify-content: center;

  margin-bottom: 50px;
}

.main-foto_item {
  background: #f5f4fa;
  border-radius: 4px;
  margin-right: 8px;
  cursor: pointer;
}

.portfolio-list__item {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc((100% - 90px) / 3);
  transition: box-shadow 250ms var(--transition-timing-func);
}

.portfolion-cart {
  display: block;
  transition: box-shadow 250ms var(--transition-timing-func);
}
.porfolion-item:hover,
.porfolion-item:focus {
  box-shadow: var(--shadow-item);
}

.item-description {
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
}

.section1 {
  padding-bottom: 94px;
}
.cliens {
  padding-top: 94px;

  padding-bottom: 94px;
}

/* рассылка в футере */

.section-sub {
  margin-left: 93px;
}

/* <---бэк дроп--> */
