/* font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
/* #212121 
   #757575   */

.desc {
  font-weight: var(--second-font-weight);
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;

  margin-bottom: 50px;
  color: var(--second-color);
}

.soft-info {
  background: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}

/* портфолио */
.services {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
}

.portfolion-cart:hover .owerlay-txt {
  transform: translateY(0%);
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

.icon {
  display: flex;
}

/* Стилизация портфолио */

.portfolio-button {
  display: flex;
  justify-content: center;

  margin-bottom: 50px;
}

.main-foto_item {
  background: #f5f4fa;
  border-radius: 4px;
  margin-right: 8px;
  cursor: pointer;
}

.portfolio-list__item {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc((100% - 90px) / 3);
  transition: box-shadow 250ms var(--transition-timing-func);
}

.portfolion-cart {
  display: block;
  transition: box-shadow 250ms var(--transition-timing-func);
}
.porfolion-item:hover,
.porfolion-item:focus {
  box-shadow: var(--shadow-item);
}

.item-description {
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
}

.section1 {
  padding-bottom: 94px;
}
.cliens {
  padding-top: 94px;

  padding-bottom: 94px;
}

/* рассылка в футере */

.section-sub {
  margin-left: 93px;
}
.form {
  margin-right: auto;
  margin-left: auto;
}
.form-input {
  width: 448px;
  height: 40px;
  margin-bottom: 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 40px;
  transition: border-color 250ms var(--transition-timing-func);
}

.form-wrapper:focus-within > .form-image {
  fill: var(--color-blue);
}

.form-wrapper:focus-within > .form-input {
  border: 1px solid #2196f3;
  box-sizing: border-box;
  border-radius: 4px;
}

.form-image {
  position: absolute;
  top: 44%;
  left: 4.25%;
  width: 18px;
  height: 18px;
  transition: fill 250ms var(--transition-timing-func);
}
.textarea {
  width: 448px;
  height: 120px;
  padding: 12px 16px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
}
.textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.form-text {
  font-family: var(--font-style);

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  margin-bottom: 12px;

  color: var(--second-color);
}
.form-label {
  font-family: var(--font-style);

  font-weight: var(--font-weight);
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--main-color);
  margin-bottom: 4px;
}
.form-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
}
.checkbox {
  --webkit-appearance: none;
  --moz-appeance: none;
  appearance: none;
  position: absolute;
}
.checkbox:checked + .checkbox-icon {
  background-image: url(../images/iconcheck.svg);
}
.checkbox-label {
  white-space: nowrap;
  display: block;

  margin-left: 31px;
  margin-bottom: 30px;
  cursor: pointer;
}
.checkbox-color {
  color: var(--color-blue);
  display: inline;
  text-decoration: underline;
}
.checkbox-style {
  margin-left: px;
}

.checkbox-icon {
  position: absolute;
  left: 52px;
  bottom: 135px;
  display: inline-block;
  width: 16px;
  height: 15px;
  background-color: #ffffff;
  background-image: url(../images/Vector.svg);
}
.checkbox__description {
  font-weight: var(--font-weight);
  font-size: 14px;
  line-height: 1.7;
  /* or 171% */

  letter-spacing: 0.03em;

  color: var(--main-color);
}

textarea {
  resize: none;
  padding: 12px 16px;
}
/* <---бэк дроп--> */
